.header__content {
     display: flex;
     justify-content: space-between;
     align-items: center;
     padding: 15px 0;
}
.logo__img {
     width: 110px;
     height: 68px;
}
.header__btn {
     padding: 15px 30px;
     color: #2266b7;
     border: 2px solid #2266b7;
     border-radius: 7px;
     transition: 0.3s;
}
.header__btn:hover {
     color: #fff;
     background: #2266b7;
}


.filter {
     display: flex;
     flex-direction: column;
     margin: 35px auto 0;
     width: 800px;
     border: 2px solid #2266b7; /* можно убрать */
     border-radius: 7px;
     padding: 20px;
}
.filter__head {
     display: flex;
     justify-content: space-between;
     align-items: center;
     margin-bottom: 20px;
}
.filter__logo {
     width: 110px;
     height: 58px;
}
.crate-btn {
     background: #2266b7;
     padding: 7px 15px;
     border-radius: 10px;
     color: #fff;
}

.form {
     display: flex;
     justify-content: space-between;
     
     
}
.form__item {
     display: flex;
     flex-direction: column;
}
.form__title {
     text-align: center;
     font-size: 18px;
     padding-bottom: 10px;
}
.input {
     width: 200px;
     height: 28px;
     border-radius: 10px;
     border: 2px solid #2266b7;
     font-size: 15px;
     padding-left: 10px;
     box-shadow: 0px 7px 11px rgb(235 234 234 / 73%);
}